*{
    font-family: "Hiragino Sans","Yu Gothic UI","Meiryo UI","Hiragino Kaku Gothic ProN";
}

body{
    scroll-behavior: smooth; 
    background-color: #1a1f36; 
    overflow-y: scroll;
    }

header{
    position: fixed; 
    background-color: #1a1f36; 
    text-align: center;
    margin: 0 auto; 
    width: 100%; 
    height: 60px; 
    border-bottom: solid 1px #212d63;
}

.menu{
    margin-top: 20px;
}

.container{
    margin: 0 auto 2%; 
    width: 90%; 
    height: auto; 
    border-left: solid 1px;
    margin-top: 10%;
}

.floatDiv{
    width: 70%; 
    margin: 0 auto; 
    border-top: double 1px #2f3d89;
}

.aboutMe{
    display: inline-flex; 
    width: 100%
}

.aboutMeBox{
    width: 50%; 
    height: 350px; 
}

#aboutMeImgWrapper{
    margin-top: 2%; 
    width: 170px; 
    height: 170px; 
    margin: 0 auto;
}

#imgId{
    height: 100%; 
    width: 100%; 
    border-radius: 20px;
}

#aboutMeTextWrapper{
    border-left: solid #2a2f45; 
    width: 80%; 
    height: 80%; 
    margin: 2% 0 0 2%;
}

.aboutMeText{
    text-align: center; 
    width: 250px; 
    height: 100px; 
    margin: 0 auto;
    margin-top: 2%; 
}

.companyNameWrapper{
    height: auto; 
    border-radius: 10px;
}

.companyName{
    height: 30px;
    background-color: #c1c9d2;
}

li{
    margin-bottom: 10px;
}

.iconsContainer{
    height: auto;
}

.iconBox{
    margin: 10px auto 0 2%; 
    width: 65%;
    height: 70%;
}

.iconWrapper{
    width: 10%;
}

.icon{
    width: 100%;
    height: 100%;
}

mat-card{
    width: auto; 
    position: inherit; 
    color:white; 
    background-color: #2a2f45;
}

.projectsAlign{
    width: 100%; 
    display: inline-flex;
}

.projectBox{
    width: 50%; 
    text-align: center; 
}

.projectDescription{
    margin: 0 auto; 
    width: 400px; 
    height: 70px;
    border-radius: 10px; 
    background-color: #2a2f45;
}

.projectDescriptionTitle{
    height: 30%; 
    background-color: #c1c9d2; 
    color: black;
}

button{
    height: 48px; background-color: #2f3d89; color: #c1c9d2;
}

.gifContainer{
    margin: 0 auto;
    width: 400px;
}


a{
    margin-left: 20px;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

a:hover{
    color: #2f3d89;
}

h1{
    font-size: 30px; 
    font-weight: 500;
}

h2{
    margin-top: 5%;
    font-size: 24px; 
    font-weight: 500;
}

.student{
    display: flex;
    width: 100%; 
    height: auto;  
    justify-content: space-between;  
    flex-wrap: wrap;
}

.studentItem{
    display: flex;
    width: 450px;
    margin: 1% auto; 
    height: 150px; 
    border: solid 1px #2a2f45;   
}

.studentImgWrapper{
    margin-top: 2%; 
    width: 250px; 
    height: 80%; 
    margin: 2%;
}

.studentCourseInfo{
    margin: 2%; 
    word-wrap: break-word;
}

footer{
    border-top: solid 1px #212d63;
    width: 100%; 
    height: 50px; 
    text-align: center;
}


@media screen and (max-width: 1200px) {
    header{
        text-align: initial;
    }

    .aboutMe{
        display: block; 
        width: 100%
    }

    .aboutMeBox{
        width: 100%; 
    }
    
    #aboutMeTextWrapper{
        border-left: none; 
        border-top: solid #2a2f45;
        margin: 0 auto;
        text-align: center;
    }

    .projectsAlign{
        display: block;
    }

    .projectBox{
        width: 100%; 
    }

    .studentImgWrapper{
        width: 200px; 
    }

    
  }

  @media screen and (max-width: 800px){
    .student{
        display: block; 
        width: 100%; 
        height: auto;  
        flex-wrap: wrap;
    }

    .studentItem{
        width: 90%;
        margin: 3% auto;  
    }
  }