<body>
  <header>
    <div class="menu">
      <p>
        <a href="#div1">Projetos</a>&nbsp;
        <a href="#div2">Experiência</a>&nbsp;
        <a href="#div3">Acadêmico</a>&nbsp;
        <a href="#div4">Sobre mim</a>
      </p>
    </div>
  </header><br>
  
  <div class="container" id="div1">
    <div style="margin: 2%;">
      <h1>Projetos </h1>
        <p>Test text</p>
        <div style="width: 100%; text-align: center;">
          <h2>Dashboard em tempo real</h2>
            <p>https://demo-real-time-dashboard.herokuapp.com/</p>
          
            <h2>Chat</h2>
            <p>https://justachat.herokuapp.com/</p>
            <div style="width: 100px; height: 100px; border-radius: 5px; background-color: #c1c9d2;">
                
            </div>
          </div>
      <div></div>
    </div>
  </div><br>
  <div class="container"  id="div2">
    <div style="margin: 2%;">
      <h1>Experiência </h1>
      
    </div>
  </div><br>
  <div class="container" id="div3">
    <div style="margin: 2%;">
      <h1>Acadêmico </h1>
    </div>
  </div>
  <div class="container" id="div4">
    <div style="margin: 2%;">
      <h1>Sobre mim </h1>
    </div>
  </div>

  <footer style="width: 85%; height: 100px;"></footer>
  
</body>
<!-- 
<mat-tab-group > 
    <mat-tab label="First"  > 
        
    </mat-tab>
    <div style="border: solid; height: 100%;"></div>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  style="background-color: #1a1f36; color: #6c8eef;" -->