<body>
  <header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="menu">
      <p>
        <a href="#Sobre mim">Sobre mim</a>&nbsp;
        <a href="#Experiência">Experiência</a>&nbsp;
        <a href="#Projetos">Aplicações</a>&nbsp;
        <a href="#Acadêmico">Acadêmico</a>
      </p>
    </div>
  </header><br>
  <div class="container" id="Sobre mim">
    <div style="margin: 2%;">
      <h1>Sobre mim </h1>
      <div class="aboutMe">
        <div class="aboutMeBox">
            <div id="aboutMeImgWrapper">
              <img src="../assets/eu.jpeg" id="imgId">
            </div>
            <div class="aboutMeText">
              <p style="font-size: 26px;"><b>Victor Alves Mendes</b></p>
              <p>Desenvolvedor Junior</p>
              <p>22 Anos, São Paulo - SP</p>
              <p>Victor.alves19@outlook.com.br</p>
              <p>https://github.com/Victor2043</p>
            </div>
        </div>
        <div class="aboutMeBox">
          <div id="aboutMeTextWrapper">
            <ul>
              <li> 
                <p style="font-size: 15px;">Paulista, formado em analíse e desenvolvimento de sistemas pela UNICSUL - 2020, desde cedo sou
              apaixonado por técnologia atuei uns anos em montagem e manutênção de computadores até conhecer a programação em 2017,
              embusca de novos desafios, sou focado e sempre curioso para aprender novas tecnologias ou resolver problemas de diferentes formas.
                </p>
              </li>
            </ul> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="Projetos">
    <div style="margin: 2%;">
      <h1>Aplicações </h1>
        <!-- <p>Test text</p> -->
        <div class="projectsAlign">
          <div class="projectBox">
            <h2>E-commerce</h2>
              <p>Seja bem vindo a comprar o que quiser no meu mini e-commerce :D</p>
              <div class="projectDescription">
                <div class="projectDescriptionTitle">URL</div>
                <div style="display: flex;">
                  <div style="width: 92%; margin-top: 12px;"><p>{{ecommerceUrl}}</p></div>
                  <div>
                    <button matTooltip="Copiar"  matTooltipPosition="above" [cdkCopyToClipboard]="crudUrl">
                    <mat-icon>file_copy</mat-icon></button>
                  </div>
                </div>
              </div><br>
              <div class="gifContainer">
                  <img src="../assets/e-commerce.gif" id="imgId">
              </div>
          </div>
          <div class="projectBox">
            <h2>Chat</h2>
              <p>Envie o link para alguem e use o chat :D</p>
              <div class="projectDescription">
                <div class="projectDescriptionTitle">URL</div>
                <div style="display: flex;">
                  <div style="width: 92%; margin-top: 12px;"><p>{{chatUrl}}</p></div>
                  <div>
                    <button matTooltip="Copiar"  matTooltipPosition="above" [cdkCopyToClipboard]="dashboardUrl">
                    <mat-icon>file_copy</mat-icon></button>
                  </div>
                </div>
              </div><br>
              <div class="gifContainer">
                  <img src="../assets/chat.gif" id="imgId">
              </div>
          </div>
        </div>
        <div class="projectsAlign">
          <div class="projectBox">
            <h2>CRUD - API</h2>
              <p>Um crud se utilizando dos métodos de uso de API: GET, POST, PUT, DELETE</p>
              <div class="projectDescription">
                <div class="projectDescriptionTitle">URL</div>
                <div style="display: flex;">
                  <div style="width: 92%; margin-top: 12px;"><p>{{crudUrl}}</p></div>
                  <div>
                    <button matTooltip="Copiar"  matTooltipPosition="above" [cdkCopyToClipboard]="crudUrl">
                    <mat-icon>file_copy</mat-icon></button>
                  </div>
                </div>
              </div><br>
              <div class="gifContainer">
                  <img src="../assets/crud.gif" id="imgId">
              </div>
          </div>
          <div class="projectBox">
            <h2>Dashboard em tempo real</h2>
              <p>Um dashboard mostrando o poder do websockets com dados em tempo real</p>
              <div class="projectDescription">
                <div class="projectDescriptionTitle">URL</div>
                <div style="display: flex;">
                  <div style="width: 92%; margin-top: 12px;"><p>{{dashboardUrl}}</p></div>
                  <div>
                    <button matTooltip="Copiar"  matTooltipPosition="above" [cdkCopyToClipboard]="dashboardUrl">
                    <mat-icon>file_copy</mat-icon></button>
                  </div>
                </div>
              </div><br>
              <div class="gifContainer">
                  <img src="../assets/grafico.gif" id="imgId">
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container"  id="Experiência">
    <div style="margin: 2%;">
      <h1>Experiência </h1>
        <div class="companyNameWrapper">
          <div class="companyName">
            <h3 style="color: black;"><b>Be3 Health Tech</b></h3>
          </div>
          <mat-card>
              <p >1 ano e 3 meses de experiência como desenvolvendor, em metodologia ágil - Scrum 
                ,dando manutênção em aplicações/api's já existentes e participando de novos projetos
              </p>
              <ul>
                <li>Criação e manutenção de layouts e funcionalidades no front com angular</li>
                <li>Api com python e flask para chamar scripts RPA com selenium, selenoid e docker</li>
                <li>Desenvolvimento de funcionalidades no backend com C# seguindo pattern DDD</li>
                <li>Criação de procedures com sql server</li>
              </ul>
          </mat-card>
          <div class="iconsContainer">
            <div style="width: 90%; margin: 0 auto; display: flex;">
              <div class="iconWrapper">
                <div class="iconBox">
                  <img src="../assets/python.ico" class="icon">
                </div>
              </div>
              <div class="iconWrapper">
                <div class="iconBox">
                  <img src="../assets/c-sharp.ico" class="icon">
                </div>
              </div>
              <div class="iconWrapper">
                <div class="iconBox">
                  <img src="../assets/angular.ico" class="icon">
                </div>
              </div>
              <div class="iconWrapper">
                <div class="iconBox">
                  <img src="../assets/selenium.ico" class="icon">
                </div>
              </div>
              <div class="iconWrapper">
                <div class="iconBox">
                  <img src="../assets/node.ico" class="icon">
                </div>
              </div>
              <div class="iconWrapper">
                <div class="iconBox">
                  <img src="../assets/docker.ico" class="icon">
                </div>
              </div>
              <div class="iconWrapper">
                <div class="iconBox">
                  <img src="../assets/git.ico" class="icon">
                </div>
              </div>
              <div class="iconWrapper">
                <div class="iconBox">
                  <img src="../assets/sql_server.ico" class="icon">
                </div>
              </div>
              <div class="iconWrapper">
                <div class="iconBox">
                  <img src="../assets/flask.ico" class="icon">
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container" id="Acadêmico">
    <div style="height: auto; margin: 2%;">
      <h1>Acadêmico </h1>
      <div class="student">
        <div class="studentItem">
          <div class="studentImgWrapper">
            <img src="../assets/universidade.png " id="imgId">
          </div>
          <div class="studentCourseInfo">
            <ul>
              <li><p><b>Superior Completo</b></p></li>
              <li><p>Analíse e desenvolvimento de sistemas</p></li>
            </ul>
          </div>
        </div>
        <div class="studentItem">
          <div class="studentImgWrapper">
            <img src="../assets/desenvolvedor-io.png " id="imgId">
          </div>
          <div class="studentCourseInfo">
            <ul>
              <li><p><b>Desenvolvedor.io</b></p></li>
              <li><p>Fundamentos de Arquitetura de Software</p></li>
            </ul>
          </div>
        </div>
        <div class="studentItem">
          <div class="studentImgWrapper">
            <img src="../assets/udemy.png" id="imgId">
          </div>
          <div class="studentCourseInfo">
            <ul>
              <li><p><b>Udemy</b></p></li>
              <li><p>TensorFlow: Machine Learning e Deep Learning</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <footer ><p>© Victor Alves Mendes - 2020</p></footer>
  
</body>

