<body>
  <header>
    <div class="menu">
      <p>
        <a href="#Sobre mim">Sobre mim</a>&nbsp;
        <a href="#Experiência">Experiência</a>&nbsp;
        <a href="#Projetos">Projetos</a>&nbsp;
        <a href="#Acadêmico">Acadêmico</a>
      </p>
    </div>
  </header><br>
  <div class="container" id="Sobre mim">
    <div style="margin: 2%;">
      <h1>Sobre mim </h1>
      <div class="aboutMe">
        <div class="aboutMeBox">
            <div id="aboutMeImgWrapper">
              <img src="../assets/eu.jpeg" id="imgId">
            </div>
            <div style="margin-top: 3%; text-align: center; width: 250px; height: 100px; margin: 0 auto;">
              <p style="font-size: 26px;"><b>Victor Alves Mendes</b></p>
              <p>Desenvolvedor Junior</p>
              <p>22 Anos, São Paulo - SP</p>
              <p>Victor.alves19@outlook.com.br</p>
            </div>
        </div>
        <div class="aboutMeBox">
          <div id="aboutMeTextWrapper">
            <ul>
              <li> <p style="font-size: 15px;">Paulista, formado em analíse e desenvolvimento de sistemas pela UNICSUL - 2020, desde cedo sou
              apaixonado por técnologia atuei uns anos em montagem e manutênção de computadores até conhecer a programação em 2017,
              embusca de novos desafios, sou focado e sempre curioso para aprender novas tecnologias ou resolver problemas de diferentes formas.
            </p></li>
            </ul> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container"  id="Experiência">
    <div style="margin: 2%;">
      <h1>Experiência </h1>
        <div style=" height: 100px; border-radius: 10px;">
          <div style="height: 30%; background-color: #c1c9d2;">
            <h3 style="color: black;">Be3 Health Tech</h3>
          </div>
          <mat-card style="width: auto; position: relative; color:white; background-color: #2a2f45;">
              <p>1 ano e 3 meses de experiência como desenvolvendor, em metodologia ágil - Scrum 
                ,dando manutênção em aplicações/api's já existentes e participando de novos projetos</p>
          </mat-card>
        </div>
    </div>
  </div><br>
  <div class="container" id="Projetos">
    <div style="margin: 2%;">
      <h1>Projetos </h1>
        <p>Test text</p>
        <div class="projectsAlign">
          <div class="projectBox">
            <h2>Dashboard em tempo real</h2>
              <p>Um dashboard simples, mostrando o poder do websockets com dados em tempo real</p>
              <div style="margin: 0 auto; width: 300px; height: 100px; border-radius: 10px; background-color: #2a2f45;">
                <div style="height: 30%; background-color: #c1c9d2;">URL</div>
                <div ><p>https://demo-real-time-dashboard.herokuapp.com/</p></div>
              </div>
              
                <div class="gifContainer">
                    <img src="../assets/grafico.gif">
                </div>
            </div>
            <div class="projectBox">
              <h2>Chat</h2>
              <p>Poder do websockets</p>
              <div style="margin: 0 auto; width: 300px; height: 100px; border-radius: 10px; background-color: #2a2f45;">
                <div style="height: 30%; background-color: #c1c9d2;">URL</div>
                <div ><p>https://justachat.herokuapp.com/</p></div>
              </div>
            </div>
      </div>
      <div class="projectsAlign">
        <div class="projectBox">
          <h2>Dashboard em tempo real</h2>
            <p>Um dashboard simples, mostrando o poder do websockets com dados em tempo real</p>
            <div style="margin: 0 auto;  width: 300px; height: 100px; border-radius: 10px; background-color: #2a2f45;">
              <div style="height: 30%; background-color: #c1c9d2;">URL</div>
              <div ><p>https://demo-real-time-dashboard.herokuapp.com/</p></div>
            </div>
            <!-- style="border-bottom: solid #3c4257 0.5px;  -->
              <div class="gifContainer">
                  <img src="../assets/grafico.gif">
              </div>
          </div>
          <div class="projectBox">
            <h2>Chat</h2>
            <p>Poder do websockets</p>
            <div style="margin: 0 auto; width: 300px; height: 100px; border-radius: 10px; background-color: #2a2f45;">
              <div style="height: 30%; background-color: #c1c9d2;">URL</div>
              <div ><p>https://justachat.herokuapp.com/</p></div>
            </div>
          </div>
    </div>
    </div>
  </div><br>
  <div class="container" id="Acadêmico">
    <div style="height: auto; margin: 2%;">
      <h1>Acadêmico </h1>
      <div class="student">
        <div class="studentItem">
          <div class="studentImgWrapper">
            <img src="../assets/universidade.png " id="imgId">
          </div>
          <div style=" margin: 2%; width: auto; height: auto; ">
            <ul>
              <li><p><b>Superior Completo</b></p></li>
              <li><p>Analíse e desenvolvimento de sistemas</p></li>
            </ul>
          </div>
        </div>
        <div class="studentItem">
          <div class="studentImgWrapper">
            <img src="../assets/desenvolvedor-io.png " id="imgId">
          </div>
          <div style=" margin: 2%; width: auto; height: auto; ">
            <ul>
              <li><p><b>Desenvolvedor.io</b></p></li>
              <li><p>Fundamentos de Arquitetura de Software</p></li>
            </ul>
          </div>
        </div>
        <div class="studentItem">
          <div class="studentImgWrapper">
            <img src="../assets/desenvolvedor-io.png " id="imgId">
          </div>
          <div style=" margin: 2%; width: auto; height: auto;  ">
            <ul>
              <li><p><b>Desenvolvedor.io</b></p></li>
              <li><p>--------- ------------ --  -----</p></li>
            </ul>
          </div>
        </div>
        <div class="studentItem" >
          <div class="studentImgWrapper">
            <img src="../assets/udemy.png " id="imgId">
          </div>
          <div style="margin: 2%; width: auto; height: auto;">
            <ul>
              <li><p><b>Udemy</b></p></li>
              <li><p>TensorFlow: Machine Learning e Deep Learning com Python</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <footer style="width: 100%; height: 50px; text-align: center;"><p>© Victor Alves Mendes - 2020</p></footer>
  
</body>
<!-- 
<mat-tab-group > 
    <mat-tab label="First"  > 
        
    </mat-tab>
    <div style="border: solid; height: 100%;"></div>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  style="background-color: #1a1f36; color: #6c8eef;" -->